<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
	<h1>Home</h1>

	<% if (messages.info) { %>
	<li>
		<h3><%= messages.info %></h3>
	</li>
	<% } %>	

	<a href="/users/login">Login</a>
</body>
</html>